footer{
    background-color: rgb(33, 33, 33);
    position: relative;
    top: 3rem;
    padding: 5rem 5rem;
}
.footer-items-1{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0px 25%;
}

span{
    color: white;
}

.footer-items-2{
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.footer-items-2-text{
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}